@import "./tailwind.css";

:root {
  --white: #fbfbfb;
  --white-80: #fbfbfb80;
  --bg-color: #1b1c1e;
  --bg-color-80: #1b1c1e80;
  --grey-600: #333333;
  --grey-500: #555555;
  --grey-500-20: #55555520;
  --grey-400: #8b8b8b;
  --grey-300: #a7afab;
  --grey-200: #c2c2c2;
  --grey-100: #efefef;
  --primary-300: #71ebbe;
  --primary-300-50: #71ebbe80;
  --primary-200: #8ef3bf;
  --primary-100: #a2f1d6;
  --red: #e42f42;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Pretendard-SemiBold로 지정되어 있어 수정했습니다 ! */
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("/src/assets/fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: "MonumentExtended";
  src: url("/src/assets/fonts/MonumentExtended-Regular.otf") format("opentype");
}

body {
  font-family: "Pretendard";
  background-color: var(--bg-color);
  color: var(--white);
}
body::-webkit-scrollbar {
  display: none;
}

@theme {
  --font-monument: "MonumentExtended", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
